.main {
    font-family: var(--poppins);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.link {
    font-weight: var(--medium);
    text-decoration: none;
    font-size: var(--h5);
    color: var(--black);
}