.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 6rem;
}

.topContent {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.introSection {
    height: 100vh;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenges {
    height: 100vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.research {
    height: 100vh;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persona {
    height: 100vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapping {
    height: 100vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 100vh;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors {
    height: 100vh;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentiment {
    height: 100vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emotions {
    height: 100vh;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution {
    height: 100vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherProjects {
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}