.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    padding-left: 6rem;
    padding-right: 6rem;
    font-family: var(--poppins);
}

.title {
    font-size: var(--h1);
    font-weight: var(--light);
    line-height: var(--h1-space);
    margin-top: 3rem;
    margin-bottom: 0;
}

.p {
    font-size: var(--p);
    margin: 0;
    margin-top: 1rem;
}

.topContent {
    display: flex;
    flex-direction: row;
    width: 80vw;
}

.introSection {
    height: 60vh;
    width: 100vw;
    background-color: var(--green80);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    height: auto;
    width: 100vw;
    background-color: var(--green50);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -20rem;
    z-index: 10;
}

.row1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80vw;
}

.projectOne {
    width: 35vw;
    height: 462px;
}

.projectTwo {
    width: 66vw;
    height: 100%;
}

.creature {
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--green80);
}

