:root {
    --black: #000;
    --white: #fff;
    --green: #6F7364;
    --green50: rgba(111, 115, 100, 0.5);
    --green80: rgba(111, 115, 100, 0.8);
    --purple: #645979;
    --yellow: #F0D68D;

    --poppins: 'Poppins', sans-serif;

    --light: 300;
    --medium: 400;
    --regular: 500;
    --semibold: 600;
    --bold: 700;

    --h1: 100px;
    --h2: 64px;
    --h3: 40px;
    --h4: 32px;
    --h5: 24px;
    --p: 16px;
    --subtitle: 24px;
    --legal: 13px;

    --h1-space: 109px;
    --h2-space: 40px;
    --h3-space: 40px;
    --h4-space: 40px;
    --subtitle-space: 40px;
    --p-extra: 28px;
}

body {
    margin: 0;
}