.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-left: 6rem;
  padding-right: 6rem;
}

.topContent {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.introSection {
  height: 100vh;
  width: 100vw;
  background-color: var(--green80);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--green50);
}


/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 
}
